
<!-- Create a file inside of partials called footer.ejs -->
<!-- add the remainder of the template from home.ejs -->

<footer>
    <div class="link">
        <a href="#">
            <i class="fas fa-home"></i><span>Home</span>
        </a>
    </div>
    <div class="link">
        <a href="#">
            <i class="fas fa-bullseye"></i><span>Goals</span>
        </a>
    </div>
    <div class="link">
        <a href="#">
            <i class="fas fa-list"></i><span>Habits</span>
        </a>
    </div>
    <div class="link">
        <a href="#">
            <i class="fas fa-plus-circle"></i><span>New</span>
        </a>
    </div>
</footer>

</body>
</html>