
<!-- HTML for the front end -->
<%-include("partials/header")%>
<!-- Just looking to bring in the data from our database -->
<main>
main
</main>
    <!--To bring in the data from the backend, a good ole for loop-->

    <%-include("partials/footer")%>
